#my-body {
    /* background-image: url(https://www.pngmart.com/files/7/Network-PNG-Transparent.png), */
    background-image:
    /* depth 3 -> depth 2 -> depth 1*/
    /* url(https://raw.githubusercontent.com/QuanHNguyen232/quanhnguyen232.github.io/main/images/hot-nodes.png), */
    /* url(https://raw.githubusercontent.com/QuanHNguyen232/quanhnguyen232.github.io/main/images/blue-nodes.png), */
    url(https://raw.githubusercontent.com/QuanHNguyen232/quanhnguyen232.github.io/main/images/green-nodes.png),
    url(https://raw.githubusercontent.com/QuanHNguyen232/quanhnguyen232.github.io/main/images/green-blue-nodes.png);
    background-color: #022A39;
    color: rgba(255, 255, 255, 0.65);   /* affect "Computer Science major @ Gettysburg College" */
}
.about-parallax-scroll {
    background: url('https://raw.githubusercontent.com/QuanHNguyen232/quanhnguyen232.github.io/main/images/hiking.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
img.edu-parallax-scroll-1 {
    background: url('https://raw.githubusercontent.com/QuanHNguyen232/quanhnguyen232.github.io/main/images/gettysburg_image.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
img.edu-parallax-scroll-2 {
    background: url('https://raw.githubusercontent.com/QuanHNguyen232/quanhnguyen232.github.io/main/images/ptnk_s1720.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}
.exp-parallax-scroll {
    background: url('https://raw.githubusercontent.com/QuanHNguyen232/quanhnguyen232.github.io/main/images/working-table.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 550px;
}